body {
  
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  margin-left:5rem;
  background-color:#2c2929;
  height:100px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;  
}
@media only screen and (max-width: 600.05px) {
  .footer{
    height: 300px;
    grid-template-columns: repeat(1,1fr);
    padding-bottom:100px;
    grid-gap: 1rem;  
  }
}

